# Set default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.rs text
*.toml text
*.md text
*.yml text
*.json text
*.js text
*.ts text
*.jsx text
*.tsx text
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.wasm binary
